{% extends '::base.html.twig' %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('stanhome_portal_dashboard_index') }}">{{ 'StanhomePortalBundle.global.dashboard'|trans }}</a></li>
        <li class="active"><a href="{{ path('stanhome_product_product_new') }}">{{ 'StanhomeProductBundle.products.page_new_edit.header'|trans }}</a></li>
    </ol>
    <div id="fwp-content" class="col-md-12">
    <div class="row">
        <div class="col-md-4  col-md-offset-1">
            <h2>{{ 'StanhomeProductBundle.products.page_new_edit.header'|trans }}</h2>
        </div>
    </div>
    <div class="container panel panel-body">
        {{ form_start(form, {"action": path('stanhome_product_category_create')} ) }}
        <div class="col-md-12">
            <div class="col-md-10 col-md-offset-1 panel panel-body panel-content panel-info">
                <div class="panel-heading">
                    <h4 class="center">{{ 'StanhomeProductBundle.products.page_new_edit.subtitle_global'|trans }}</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>{{ form_label(form.brand) }}</h6>
                        </div>
                        <div class="col-md-7">
                            {{ form_widget(form.brand) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h6>{{ form_label(form.libelle) }}</h6>
                        </div>
                        <div class="col-md-7">
                            {{ form_widget(form.libelle) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-11">
                <div class="col-md-2 right">
                    <button class="btn btn-block" type="submit">{{ 'StanhomeProductBundle.products.page_new_edit.validate'|trans }}</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
