<div class="col-md-10 col-md-offset-1 panel panel-body panel-content panel-info">

<div class="panel-heading">
    <h4 class="center">{{ 'DomiGestionRhBundle.customers.page_new_edit.subtitle_global'|trans }}</h4>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-md-3">
            <h6>{{ form_label(form.sexe) }}</h6>
        </div>
        <div class="col-md-7">
            {{ form_widget(form.sexe) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h6>{{ form_label(form.nom) }}</h6>
        </div>
        <div class="col-md-7">
            {{ form_widget(form.nom) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h6>{{ form_label(form.prenom) }}</h6>
        </div>
        <div class="col-md-7">
            {{ form_widget(form.prenom) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h6>{{ form_label(form.fixe) }}</h6>
        </div>
        <div class="col-md-7">
            {{ form_widget(form.fixe) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h6>{{ form_label(form.portable) }}</h6>
        </div>
        <div class="col-md-7">
            {{ form_widget(form.portable) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h6>{{ form_label(form.email) }}</h6>
        </div>
        <div class="col-md-7">
            {{ form_widget(form.email) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h6>{{ form_label(form.address) }}</h6>
        </div>
        <div class="col-md-7">
            {{ form_widget(form.address) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h6>{{ form_label(form.cp) }}</h6>
        </div>
        <div class="col-md-7">
            {{ form_widget(form.cp) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h6>{{ form_label(form.city) }}</h6>
        </div>
        <div class="col-md-7">
            {{ form_widget(form.city) }}
        </div>
    </div>
</div>
</div>
