{% extends '::base.html.twig' %}

{% block content %}
<ol class="breadcrumb">
    <li class="active"><a href="{{ path('domiGestion_rh_customer_client') }}">{{ 'DomiGestionRhBundle.customers.page_index.header'|trans }}</a></li>
    <li class="active">{{ 'DomiGestionRhBundle.customers.page_new_edit.title'|trans }}</li>
</ol>
<div id="fwp-content" class="col-md-12">
    <div class="row">
        <div class="col-md-4  col-md-offset-1">
            <h2>{{ 'DomiGestionRhBundle.customers.page_new_edit.title'|trans }}</h2>
        </div>
    </div>
    <div class="container panel panel-body">
        {{ form_start(form) }}
        <div class="col-md-12">
            {% include "@DomiGestionRh/Customer/add.html.twig"  with {'form': form } %}

            <div class="col-md-10 col-md-offset-1 panel panel-body panel-content panel-info">
                <div class="panel-heading">
                    <h4 class="center">{{ 'DomiGestionRhBundle.customers.page_new_edit.subtitle_client'|trans }}</h4>
                </div>
                <div class="panel-body">

                    <div class="col-md-11">
                        <div class="col-md-2 right">
                            {{ form_widget(form.save) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    {% endblock %}
