{% extends '::base.html.twig' %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('stanhome_portal_dashboard_index') }}">{{ 'DomiGestionPortalBundle.global.dashboard'|trans }}</a></li>
        <li class="active"><a href="{{ path('stanhome_rh_customer_index') }}">{{ 'DomiGestionRhBundle.customers.page_index.hostess'|trans }}</a></li>
    </ol>
    <div id="fwp-content" class="col-md-12">
        <div class="row">
            <div class="col-md-2  col-md-offset-1">
                <h2>{{ 'DomiGestionRhBundle.customers.page_index.hostess'|trans }} ({{ customers|length }})</h2>
            </div>
            {#<div class="col-md-2 right">#}
            {#<a href="{{ path('stanhome_rh_customer_new') }}"><i class="icon-plus left"></i><i class="icon-icon-project"></i><div>{{ 'StanhomeRhBundle.customers.page_index.add'|trans }}</div></a>#}
            {#</div>#}
        </div>
        <div class="container">
            {#{% if customers is empty %}#}
            {#{{ 'StanhomeProductBundle.products.page_index.noProduct'|trans }}#}
            {#{% else %}#}
            <div class="panel panel-default table-responsive">
                <table id="tableCustomers" class="table table-hover table-responsive table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="col-md-2">{{ 'DomiGestionRhBundle.customers.page_index.sexe'|trans }}</th>
                        <th class="col-md-2">{{ 'DomiGestionRhBundle.customers.page_index.firstName'|trans }}</th>
                        <th class="col-md-2">{{ 'DomiGestionRhBundle.customers.page_index.lastName'|trans }}</th>
                        <th class="col-md-2">{{ 'DomiGestionRhBundle.customers.page_index.fixe'|trans }}</th>
                        <th class="col-md-2">{{ 'DomiGestionRhBundle.customers.page_index.mobile'|trans }}</th>
                        <th class="col-md-2">{{ 'DomiGestionRhBundle.customers.page_index.email'|trans }}</th>
                        <th class="col-md-2">{{ 'DomiGestionRhBundle.customers.page_index.address'|trans }}</th>
                        <th class="col-md-2">{{ 'DomiGestionRhBundle.customers.page_show.nbmeeting'|trans }}</th>
                        <th>{{ 'DomiGestionRhBundle.customers.page_index.modify'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td> {{ customer.sexe }}</td>
                            <td>
                                <a href="{{ path('stanhome_rh_customer_show', { 'id': customer.id }) }}">{{ customer.nom }}</a>
                            </td>
                            <td> {{ customer.prenom }}</td>
                            <td> {{ customer.fixe }}</td>
                            <td> {{ customer.portable }}</td>
                            <td> <a href="mailto:{{ customer.email }}">{{ customer.email }}</a></td>
                            <td> {{ customer.inlineAddress }} </td>
                            <td> {{ customer.meeting|length }} </td>
                            <input type='hidden' name='_method' value='PUT'>
                            <td class="center"><a href="{{ path('stanhome_rh_customer_edit', { 'id': customer.id }) }}"><i class="icon-pencil2"></i></a></td>
                            {#<input type='hidden' name='_method' value='DELETE'>#}
                            {#<td class="center"><a href="{{ path('stanhome_rh_customer_delete', { 'id': customer.id }) }}"><i class="icon-pencil2"></i></a></td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {#{% endif %}#}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        (function ($) {
            $('#tableCustomers').dataTable( {
                "pageLength": 5,
                "stateSave" : true,
                "order"     : [[1, "asc" ]],
                "columns"   : [
                    { "orderable": false },
                    null,
                    null,
                    { "orderable": false },
                    { "orderable": false },
                    { "orderable": false },
                    { "orderable": false },
                    null,
                    { "orderable": false }
                ],
                "language" : {
                    "sProcessing"     : "{{ 'DomiGestionRhBundle.base.dataTable.processing'|trans }}",
                    "sSearch"         : "{{ 'DomiGestionRhBundle.base.dataTable.search'|trans }}",
                    "sLengthMenu"     : "{{ 'DomiGestionRhBundle.base.dataTable.lengthMenu'|trans }}",
                    "sInfo"           : "{{ 'DomiGestionRhBundle.base.dataTable.info'|trans }}",
                    "sInfoEmpty"      : "{{ 'DomiGestionRhBundle.base.dataTable.infoEmpty'|trans }}",
                    "sInfoFiltered"   : "{{ 'DomiGestionRhBundle.base.dataTable.infoFiltered'|trans }}",
                    "sInfoPostFix"    : "",
                    "sLoadingRecords" : "{{ 'DomiGestionRhBundle.base.dataTable.loadingRecords'|trans }}",
                    "sZeroRecords"    : "{{ 'DomiGestionRhBundle.base.dataTable.zeroRecords'|trans }}",
                    "sEmptyTable"     : "{{ 'DomiGestionRhBundle.base.dataTable.emptyTable'|trans }}",
                    "oPaginate" : {
                        "sFirst"   : "{{ 'DomiGestionRhBundle.base.dataTable.first'|trans }}",
                        "sPrevious": "{{ 'DomiGestionRhBundle.base.dataTable.previous'|trans }}",
                        "sNext"    : "{{ 'DomiGestionRhBundle.base.dataTable.next'|trans }}",
                        "sLast"    : "{{ 'DomiGestionRhBundle.base.dataTable.last'|trans }}"
                    },
                    "oAria": {
                        "sSortAscending" : "{{ 'DomiGestionRhBundle.base.dataTable.sortAscending'|trans }}",
                        "sSortDescending": "{{ 'DomiGestionRhBundle.base.dataTable.sortDescending'|trans }}"
                    },
                }
            });
        } )(jQuery);
    </script>

{% endblock %}
