{% block html_title %}{{ parent() }} - {% trans from "page_title" %}fime.portal.login{% endtrans %}{% endblock html_title %}

{% block content %}
    <body class='login theme-fime'>
    <div class="wrapper">
        <h1><a href="index.html"><img src="{{ asset('/bundles/fimeportal/img/logo-big.png') }}" alt="" class='retina-ready' width="59" height="49">{% block page_title %}{{ 'fime.portal.login.page_title'|trans }}{% endblock page_title %}</a></h1>
        <div class="login-body">
            <h2>{{ 'fime.portal.login.form.title'|trans }}</h2>
            {% if error %}
                <div class="alert alert-error">{{ error|trans }}</div>
            {% endif %}
            <form action="{{ path('fos_user_security_check') }}" method="post" class='form-validate'>
                <div class="control-group">
                    <div class="email controls">
                        <input type="text" name="_username" value="{{ last_username }}" placeholder="{{ 'fime.portal.login.form.username'|trans }}" class='input-block-level' data-rule-required="true" data-rule-email="true">
                    </div>
                </div>
                <div class="control-group">
                    <div class="pw controls">
                        <input type="password" name="_password" placeholder="{{ 'fime.portal.login.form.password'|trans }}" class='input-block-level' data-rule-required="true" >
                    </div>
                </div>
                <div class="submit">
                    <div class="remember">
                        <input type="checkbox" name="_remember_me" class='icheck-me' data-skin="square" data-color="blue" id="remember" /> <label for="remember">{{ 'fime.portal.login.form.remember_me'|trans }}</label>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <input type="submit" value="{{ 'fime.portal.login.form.button'|trans }}" class='btn btn-primary' />
                </div>
            </form>
            {% if error %}
                {{ error.messageKey|trans(error.messageData, 'security') }}
                {% endif %}
            {#<div class="forget">#}
                {#<a href="#"><span>{{ 'fime.portal.login.form.forgot_password'|trans }}</span></a>#}
            {#</div>#}
        </div>
    </div>
    </body>
{% endblock content %}
