{% extends '::base.html.twig' %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('stanhome_portal_dashboard_index') }}">{{ 'DomiGestionPortalBundle.global.dashboard'|trans }}</a></li>
        <li class="active"><a href="{{ path('stanhome_rh_customer_index') }}">{{ 'DomiGestionMeetingBundle.meetings.page_index.header'|trans }}</a></li>
    </ol>
    <div id="fwp-content" class="col-md-12">
        <div class="container">
            {% if meetingToCome %}
                <div class="row">
                    <div class="col-md-2  col-md-offset-1">
                        <h2>{{ 'DomiGestionMeetingBundle.meetings.page_index.meetingToCome'|trans }}</h2>
                    </div>
                </div>
                {% include "@DomiGestionMeeting/Meeting/displayMeetings.html.twig"  with {'meetings': meetingToCome } %}
            {% else %}
                <p>Not found</p>
            {% endif %}

            {% if pastMeetings %}
                <div class="row">
                    <div class="col-md-2  col-md-offset-1">
                        <h2>{{ 'DomiGestionMeetingBundle.meetings.page_index.pastMeeting'|trans }}</h2>
                    </div>
                </div>
                {% include "@DomiGestionMeeting/Meeting/displayMeetings.html.twig"  with {'meetings': pastMeetings } %}
            {% else %}
                <p>Not found</p>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        (function ($) {
            $('.tableMeetings').dataTable( {
                "pageLength": 5,
                "stateSave" : true,
                "order"     : [[1, "asc" ]],
                "columns"   : [
                    { "orderable": false },
                    null,
                    null,
                    { "orderable": false },
                    { "orderable": false },
                    { "orderable": false }
                ],
                "language" : {
                    "sProcessing"     : "{{ 'DomiGestionRhBundle.base.dataTable.processing'|trans }}",
                    "sSearch"         : "{{ 'DomiGestionRhBundle.base.dataTable.search'|trans }}",
                    "sLengthMenu"     : "{{ 'DomiGestionRhBundle.base.dataTable.lengthMenu'|trans }}",
                    "sInfo"           : "{{ 'DomiGestionRhBundle.base.dataTable.info'|trans }}",
                    "sInfoEmpty"      : "{{ 'DomiGestionRhBundle.base.dataTable.infoEmpty'|trans }}",
                    "sInfoFiltered"   : "{{ 'DomiGestionRhBundle.base.dataTable.infoFiltered'|trans }}",
                    "sInfoPostFix"    : "",
                    "sLoadingRecords" : "{{ 'DomiGestionRhBundle.base.dataTable.loadingRecords'|trans }}",
                    "sZeroRecords"    : "{{ 'DomiGestionRhBundle.base.dataTable.zeroRecords'|trans }}",
                    "sEmptyTable"     : "{{ 'DomiGestionRhBundle.base.dataTable.emptyTable'|trans }}",
                    "oPaginate" : {
                        "sFirst"   : "{{ 'DomiGestionRhBundle.base.dataTable.first'|trans }}",
                        "sPrevious": "{{ 'DomiGestionRhBundle.base.dataTable.previous'|trans }}",
                        "sNext"    : "{{ 'DomiGestionRhBundle.base.dataTable.next'|trans }}",
                        "sLast"    : "{{ 'DomiGestionRhBundle.base.dataTable.last'|trans }}"
                    },
                    "oAria": {
                        "sSortAscending" : "{{ 'DomiGestionRhBundle.base.dataTable.sortAscending'|trans }}",
                        "sSortDescending": "{{ 'DomiGestionRhBundle.base.dataTable.sortDescending'|trans }}"
                    },
                }
            });
        } )(jQuery);
    </script>

{% endblock %}